body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

ul{
  overflow: hidden;
  transition: 0.30s;
}

.card {
  width: 350px;
}

.container {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress .times,
.card-footer,
.volume-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.volume-container i {
  margin-right: 5px;
}