body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

img {
  height: 300px;
}

ul {
  overflow: hidden;
  transition: 0.3s;
}

.card {
  width: 350px;
}

.container {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress .times,
.card-footer,
.volume-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.volume-container i {
  margin-right: 5px;
}

li.playing {
  background-color: #0b5eb7;
  color: #fff;
}

#collapse-list li{
  cursor: pointer;
}

#collapse-list li:hover {
  background-color: #add8e6;
  color: black;
  transition: 0.4s;
}

